@font-face
	font-family: 'Gilroy-Light'
	src: url('../fonts/Gilroy-Light.ttf')
	font-weight: 300

@font-face
	font-family: 'Gilroy-Regular'
	src: url('../fonts/Gilroy-Regular.ttf')
	font-weight: 400
	
@font-face
	font-family: 'Gilroy-Medium'
	src: url('../fonts/Gilroy-Medium.ttf')
	font-weight: 500
	
@font-face
	font-family: 'Gilroy-SemiBold'
	src: url('../fonts/Gilroy-SemiBold.ttf')
	font-weight: 600
	
@font-face
	font-family: 'Gilroy-Bold'
	src: url('../fonts/Gilroy-Bold.ttf')
	font-weight: 700
	
@font-face
	font-family: 'Gilroy-Black'
	src: url('../fonts/Gilroy-Black.ttf')
	font-weight: 800
	
@font-face
	font-family: 'Gilroy-Heavy'
	src: url('../fonts/Gilroy-Heavy.ttf')
	font-weight: 900

$transition: .3s

$color-white: #FFF
$color-black: #000
$color-dark: #06101C
$color-rose: #E211F7
$color-gray: #686D73
$color-gray2: #737373
$color-gray3: #BDBDBD
$color-blue: #15BEFD
$color-darkblue: #151837
$color-modal: #252B42
$color-border: #3C403D

* 
	outline: none !important

img 
	max-width: 100%
	height: auto

body 
	font-family: 'Gilroy-Medium', sans-serif
	display: flex
	color: $color-white
	flex-direction: column
	min-height: 100vh
	font-size: 24px
	background: radial-gradient(ellipse 108.06% 60.96% at 6.42% 7.92%, #2D4D76 0%, rgba(45, 77, 118, 0.5) 30%, rgba(20, 34, 54, 0.25) 70%, rgba(3, 11, 21, 0) 100%), linear-gradient(0deg, #030B15, #030B15)
	background-repeat: no-repeat
	background-size: cover
	@media (max-width: 1199.98px)
		font-size: 16px
	@media (max-width: 575.98px)
		font-size: 14px

a 
	text-decoration: none !important
	transition: $transition
	color: $color-white
	&:hover 
		opacity: .8

.btn 
	transition: $transition
	&:focus 
		box-shadow: none

.container 
	padding-left: 15px
	padding-right: 15px
	@media (min-width: 1440px)
		max-width: 1160px

[class*=col]
	position: relative

.row-5
	margin-left: -5px
	margin-right: -5px
	> [class*='col']
		padding-left: 5px
		padding-right: 5px

.row-8
	margin-left: -8px
	margin-right: -8px
	> [class*='col']
		padding-left: 8px
		padding-right: 8px

.fz-14
	font-size: 14px

.h1, h1 
	font-size: 58px
	font-weight: 800
	line-height: 1.4
	@media (max-width: 1199.98px)
		font-size: 40px
	@media (max-width: 575.98px)
		font-size: 30px

.h2, h2 
	font-size: 40px
	font-weight: 700
	line-height: 1.1
	@media (max-width: 1199.98px)
		font-size: 30px

.h3, h3 
	font-size: 30px
	font-weight: 700
	line-height: 1.1
	@media (max-width: 1199.98px)
		font-size: 26px

.h5, h5 
	font-size: 16px
	font-weight: 500

.h6, h6 
	font-size: 14px
	font-weight: 500

.navbar 
	padding: 40px 0
	background-color: transparent
	transition: padding-top 0.3s ease, padding-bottom 0.3s ease
	@media (max-width: 991.98px)
		padding: 30px 0px 
	@media (max-width: 575.98px)
		padding: 16px 0
	.navbar-brand 
		margin-right: 16px
		img
			width: 96px
			transition: $transition
			@media (max-width: 991.98px)
				width: 50px
	.navbar-nav
		@media (max-width: 1199.98px)
			overflow: auto
			height: 100%
		.nav-item
			@media (max-width: 1199.98px)
				margin-bottom: 24px
		.nav-item
			.nav-link
				font-size: 16px
				color: $color-white
				transition: $transition
				display: inline-block
				letter-spacing: 0.1px
				padding: 6px 12px
				@media (max-width: 1199.98px)
					padding: 6px 0
				&:hover, &.active
					opacity: 1
					color: #2A7CC7
	&.sticky	
		background: rgba(6, 16, 28, 0.7)
		@media (min-width: 992px)
			padding-top: 16px
			padding-bottom: 16px
			.navbar-brand
				img
					transition: $transition
					width: 60px

.language-selector
	position: relative
	width: 69px
	cursor: pointer
	border: 1px solid $color-white
	border-radius: 5px
	padding: 9px
	@media (min-width: 1200px)
		margin: 0 12px
	.arrow
		position: absolute
		right: 8px
		top: 50%
		transform: translateY(-50%)

.selected-flag 
	display: flex
	align-items: center
	img
		width: 20px
		height: 20px
		border-radius: 3px

.flag-options
	position: absolute
	top: 44px
	left: 0
	background: $color-dark
	border: 1px solid $color-white
	border-radius: 5px
	padding: 10px
	display: none
	flex-direction: column
	gap: 6px
	z-index: 1000
	@media (max-width: 1199.98px)
		background: $color-gray
	img
		width: 20px
		height: 20px
		border-radius: 3px
		transition: transform 0.2s
		&:hover
			transform: scale(1.1)

.btn-rose
	background: $color-rose
	color: $color-white
	border: 0
	padding: 9.5px 20px
	font-size: 14px
	box-shadow: 0px 5px 10px 0px rgba(146, 17, 233, 0.3)
	&:hover, &:focus, &:active
		background: $color-rose !important
		color: $color-white !important
		opacity: 1
		box-shadow: none

.btn-big
	font-size: 16px
	padding: 16px 40px
	@media (max-width: 575.98px)
		padding: 8px 40px

.dot-sandwich
	width: 40px
	height: 40px
	position: relative
	padding: 0
	border: 0
	cursor: pointer
	background-color: transparent
	display: grid
	grid-template-columns: repeat(3, 10px)
	grid-template-rows: repeat(3, 10px)
	gap: 5px
	justify-content: center
	align-content: center
	&::before
		content: ''
		width: 6px
		height: 6px
		transition: $transition
		background: $color-white
		border-radius: 50%
		position: absolute
		top: 0
		left: 0
		box-shadow: 15px 0 $color-white, 30px 0 $color-white, 0 15px $color-white, 15px 15px $color-white, 30px 15px $color-white, 0 30px $color-white, 15px 30px $color-white, 30px 30px $color-white
	&:hover
		&::before 
			background: $color-rose
			box-shadow: 15px 0 $color-rose, 30px 0 $color-rose, 0 15px $color-rose, 15px 15px $color-rose, 30px 15px $color-rose, 0 30px $color-rose, 15px 30px $color-rose, 30px 30px $color-rose

.menu
	background: $color-gray
	@media (max-width: 1199.98px)
		padding: 40px

.footer
	padding: 40px 0
	margin-top: auto
	h5, h6 
		margin-bottom: 0

.copyright
	@media (max-width: 767.98px)
		border-top: 1px solid $color-gray2
		padding-top: 8px

.to-up 
	display: inline-flex
	transition: $transition
	z-index: 22
	cursor: pointer
	width: 40px
	height: 40px
	border: 2px solid $color-white
	border-radius: 5px 
	justify-content: center
	align-items: center
	&:hover 
		opacity: 0.7

.header
	> .container
		padding-top: 186px	
		padding-bottom: 48px
		@media (max-width: 991.98px)
			padding-top: 120px
		@media (max-width: 575.98px)
			padding-top: 92px

.header-main
	overflow: hidden
	> .container	
		display: flex
		flex-direction: column
		@media (min-width: 1200px)
			min-height: 100vh

.header-content
	position: relative
	z-index: 1

.bg-bunner1
	position: absolute
	left: 0
	right: 0
	bottom: 0
	z-index: -1

.bg-bunner2
	@media (min-width: 992px)
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
	@media (max-width: 1199.98px)
		width: 370px
	@media (max-width: 575.98px)
		width: 200px

.section-exchange
	border-top: 4px solid #63836D
	border-bottom: 4px solid #63836D
	padding: 52px 0
	background: linear-gradient(90deg, #324965 0%, #273547 50%, #1E2833 100%)
	overflow-x: auto
	@media (max-width: 575.98px)
		padding: 16px 0
	img 
		margin: 0 24px

.section
	margin: 90px 0 48px
	@media (max-width: 767.98px)
		margin: 48px 0 24px
	.content
		color: #A2AAB4
		line-height: 1.2
		@media (max-width: 575.98px)
			font-size: 16px

.history-wrap
	position: relative
	@media (min-width: 768px)
		&:before
			content: ''
			display: block
			position: absolute
			top: 20px
			bottom: 20px
			left: 50%
			border-left: 5px solid $color-blue
			margin-left: -2.5px
		.row
			&:not(:first-child)
				margin-top: -70px
	@media (max-width: 767.98px)
		.row
			&:last-child 
				.history-block
					&:after 
						display: none

.history-block
	position: relative
	padding-right: 80px !important
	@media (max-width: 767.98px)
		padding-right: 10px !important
	&:after
		content: ''
		display: block
		position: absolute
		border-radius: 50%
		width: 30px
		height: 30px
		background-color: $color-blue
		top: 50%
		right: 0
		margin: -15px
		@media (max-width: 767.98px)
			top: auto
			bottom: -24px
			right: 50%
	.line-dotted
		@media (min-width: 768px)
			position: absolute
			width: 67px
			border-top: 1px dotted $color-blue
			top: 50%
			right: 0
			z-index: 2
			&:after
				content: ''
				display: block
				position: absolute
				border-radius: 50%
				width: 5px
				height: 5px
				background-color: $color-blue
				top: 50%
				left: 0
				margin: -3px

.card-history
	position: relative
	padding: 16px 28px 
	border-radius: 12px
	border: 3px solid #0E375E
	background: $color-darkblue
	font-size: 16px
	overflow: visible
	&:before 
		content: ''
		position: absolute
		display: block
		width: 143px 
		top: -11px
		right: -11px
		bottom: -11px
		background: transparent
		border-top-right-radius: 18px
		border-bottom-right-radius: 18px
		border: 4px solid transparent
		border-left: 0
		z-index: -1
		background: linear-gradient(#030B15, #030B15) padding-box, linear-gradient(104.98deg, #159BD6 67.11%, #732CC4 91.48%) border-box
		background-clip: padding-box, border-box
		-webkit-background-clip: padding-box, border-box
	@media (max-width: 1199.98px)
		font-size: 14px
		h3 
			font-size: 24px
	@media (max-width: 767.98px)
		padding: 14px 20px

.history-wrap
	.justify-content-end
		.history-block
			padding-left: 80px !important
			padding-right: 0 !important
			@media (max-width: 767.98px)
				padding-left: 10px !important
			&:after
				right: auto
				left: 0
				@media (max-width: 767.98px)
					right: 50%
					left: auto
			.line-dotted
				right: auto
				left: 0
				&:after
					right: 0
					left: auto
			.card-history
				&:before 
					left: -11px
					right: auto
					border-radius: 18px 0 0 18px
					border-left: 4px solid transparent
					border-right: 0
					background: linear-gradient(#030B15, #030B15) padding-box, linear-gradient(255.02deg, #159BD6 67.11%, #732CC4 91.48%) border-box

.owl-main
	.item
		@media (min-width: 992px)
			position: relative
			width: 100%
			flex: 0 0 33.333333%
			max-width: 33.333333%
			padding-left: 12px
			padding-right: 12px
  
.owl-main
	@media (min-width: 768px)
		display: flex
		margin-left: -12px
		margin-right: -12px
	&.owl-theme
		.owl-nav 
			margin-top: 0
		.owl-dots
			font-size: 0
			margin-top: 16px !important
			z-index: 10
			position: absolute
			left: 50%
			transform: translateX(-50%)
			transition: $transition
			.owl-dot 
				vertical-align: middle
				span
					margin: 5px
					width: 10px
					height: 10px
					background: $color-border
					transition: $transition
				&:hover, &.active
					span
						background: $color-gray3

.card-tariff
	border: 1px solid $color-gray2
	border-radius: 10px
	background-color: $color-darkblue
	background-image: url(../img/bg-tariff.png)
	background-size: cover 
	background-repeat: no-repeat
	background-position: top center
	overflow: hidden
	font-size: 16px
	display: flex 
	flex-direction: column 
	height: 100%
	@media (max-width: 767.98px)
		font-size: 14px
		h3 
			font-size: 24px
	.card-content
		padding: 30px
		display: flex 
		flex-direction: column 
		flex-grow: 1
		@media (max-width: 767.98px)
			padding: 15px

.user-box
	color: rgba(226, 17, 247, 1)
	font-size: 16px
	font-weight: bold
	text-decoration: underline
	white-space: nowrap
	span 
		vertical-align: middle
	.img-avatar
		display: inline-block
		width: 32px
		height: 32px
		border-radius: 100px
		margin-right: 2px

// MODAL

.form-group
	margin-bottom: 20px

.modal-contact
	.modal-content
		background: $color-modal
		font-size: 16px
		border-radius: 10px
		padding: 40px
		border: 1px solid $color-gray2
		@media (max-width: 767.98px)
			padding: 30px
	.form-control
		padding-top: 4px
		padding-bottom: 4px
		height: 44px
		border-radius: 3px
		padding: 10px
		width: 100% !important
		font-size: 14px
		font-weight: 600
		background: $color-gray3
		border: 1px solid $color-border
		&::-webkit-input-placeholder
			color: $color-modal
			font-weight: 600
		&::-moz-placeholder
			color: $color-modal
			font-weight: 600
		&:-ms-input-placeholder
			color: $color-modal
			font-weight: 600
		&:focus
			box-shadow: none
			background: $color-white
	.form-textarea
		height: 110px !important
		resize: none
	.btn-rose
		padding: 8px 40px

.card-video
	display: block
	@media (min-width: 1200px)
		&:hover
			.bg-wrap
				transform: scale(1.1) 
	.card-content
		margin-top: 10px
		font-size: 16px
		line-height: 1.6
		.check
			display: inline-block
			width: 32px
			height: 32px
			background: rgba(2, 188, 125, 1)
			text-align: center
			border-radius: 8px
			line-height: 28px
			vertical-align: middle
			margin-right: 6px

.img-wrap 
	overflow: hidden
	transition: $transition
	position: relative
	border-radius: 5px
	.bg-wrap
		transition: $transition
	.time
		display: inline-block
		position: absolute
		font-weight: 600
		font-size: 14px
		bottom: 10px
		right: 18px
		padding: 8px 10px
		border-radius: 5px
		background: rgba(0, 0, 0, 0.6)

.bg-img 
	background-size: cover
	background-position: center center
	height: 100%

.portrait
	max-width: 40%
	float: left
	margin-bottom: 18px
	margin-right: 30px
	@media (max-width: 575.98px)
		max-width: 100%
		margin-right: 0
	img
		border-radius: 10px

.about 
	font-size: 16px
	font-weight: 500

